@page "/PostDetailPage/{id:int}"
@using Domain

@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.Components
@inject IPostService postService
@inject IUserService userService
@inject NavigationManager navMgr
@if (posts == null!)
{
    <span>Loading..</span>
}

else
{
    @foreach (var post in posts)
    {
        <div class="col-6">
            <div class="card m-2">
                <div class="card-header">
                    @post.DateOfCreation
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary text-uppercase">@post.Title</h5>
                    <p class="card-text">
                        <b>Author:</b> @post.Author.UserName
                        <br>
                        <b>Content:</b> @post.Context
                    </p>

                </div>
            </div>
        </div>
    }

@code {

    [Parameter]
    public int Id { get; set; }

    private IEnumerable<Post>? posts;
    //private PostBasicDto post = null!;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
    //PostBasicDto postData = await postService.GetByIdAsync(Id);
            posts = await postService.GetByIdAsync(Id);
    //Console.WriteLine("------------------"+ post.Title);

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }   

}}